@model IEnumerable<Municipality.Model.DistrictMunicipality>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>District Municipality List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="DistrictMunicipality" asp-action="Crup" class="btn btn-primary">
                <span>District Municipality Add</span>
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>District Municipality Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Phone</th>
                  
                </tr>
            </thead>
            <tbody>

                @foreach (var districtMunicipality in Model)
                {
                    <tr>

                        <td>@districtMunicipality.DistMunName</td>
                        <td>@districtMunicipality.DistMunAddress</td>

                        <td>@districtMunicipality.DistMunCity</td>
                        <td>@districtMunicipality.DistMunPhone</td>
                        <td>
                            <a asp-controller="DistrictMunicipality" asp-action="Crup" asp-route-id="@districtMunicipality.DistMunId" class="btn btn-warning">
                                Edit
                            </a>
                            <a asp-controller="DistrictMunicipality" asp-action="Delete" asp-route-id="@districtMunicipality.DistMunId" class="btn btn-danger">
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            </tbody>




        </table>
    </div>

</div>